/* Estilização geral das páginas */
#page-landing {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);

  padding: 64px;
}

/* Container por volta do conteúdo */ 
#page-landing .content {
  position: relative;

  width: 100%;
  max-width: 1120px;

  height: 100%;
  max-height: 680px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  background: url('../../assets/hero.svg') no-repeat 80% 10%;
  background-size: 42%;
}

/* Textos */
#page-landing .content main {
  max-width: 350px;

  margin-top: 108px;
}

#page-landing .content main h1 {
  font-size: 80px;
  font-weight: 800;
  line-height: 70px;
}

#page-landing .content main p {
  margin-top: 40px;
  font-size: 24px;
  line-height: 34px;
}

/* Cambuí, Minas Gerais */
.content .location {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  font-size: 24px;
  line-height: 34px;
  text-align: right;
}

.content .location strong {
  font-weight: 800;
}

/* Botão que redireciona para a próxima página */
.content .enter-app {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 80px;
  height: 80px;

  border-radius: 30px;
  background: #FFD666;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
}

.content .enter-app:hover {
  background: #96FEFF;
}